<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CallExt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZYExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1837D3731DAB6F4F007229CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1837D38C1DAB6F4F007229CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1837D3971DAB6F4F007229CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E42F651DACF158005F4991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
